[submodule "package/ext/lucky"]
	path = package/ext/lucky
	url = https://github.com/sirpdboy/luci-app-lucky.git
	branch = main
[submodule "package/ext/helloworld"]
	path = package/ext/helloworld
	url = https://gitee.com/airjinkela/helloword-package.git
	branch = master
[submodule "package/ext/small"]
	path = package/ext/small
	url = https://gitee.com/airjinkela/small.git
	branch = master
[submodule "package/ext/modem_feeds"]
	path = package/ext/modem_feeds
	url = https://github.com/FUjr/modem_feeds.git
	branch = main
[submodule "package/ext/UA3F"]
	path = package/ext/UA3F
	url = https://github.com/SunBK201/UA3F.git
	branch = master
[submodule "package/ext/rkp-ipid"]
	path = package/ext/rkp-ipid
	url = https://github.com/CHN-beta/rkp-ipid
	branch = master
[submodule "package/ext/third"]
	path = package/ext/third
	url = https://gitee.com/airjinkela/third.git
	branch = master
