[submodule "package/lucky"]
	path = package/lucky
	url = https://github.com/sirpdboy/luci-app-lucky.git
[submodule "package/helloworld"]
	path = package/helloworld
	url = https://gitee.com/airjinkela/helloword-package.git
[submodule "package/LingTiGameAcc"]
	path = package/LingTiGameAcc
	url = https://gitee.com/airjinkela/ling-ti-game-acc.git
[submodule "package/luci-app-easymesh"]
	path = package/luci-app-easymesh
	url = https://gitee.com/airjinkela/luci-app-easymesh.git
[submodule "package/small"]
	path = package/small
	url = https://gitee.com/airjinkela/small.git
[submodule "package/modem_feeds"]
	path = package/modem_feeds
	url = https://github.com/FUjr/modem_feeds.git
