[submodule "package/ext/lucky"]
	path = package/ext/lucky
	url = https://github.com/sirpdboy/luci-app-lucky.git
	branch = main
[submodule "package/ext/helloworld"]
	path = package/ext/helloworld
	url = https://gitee.com/airjinkela/helloword-package.git
	branch = master
[submodule "package/ext/modem_feeds"]
	path = package/ext/modem_feeds
	url = https://github.com/FUjr/modem_feeds.git
	branch = main
[submodule "package/ext/third"]
	path = package/ext/third
	url = https://github.com/airjinkela/third-package.git
	branch = master
